<link rel="stylesheet" href="/styles/signup.css">
<div class="signUpBox">
    <div class="signUpHeading">
        <span>Signup on FriendsBook</span>
    </div>
    <form class="signUpForm">
        <div class="signUpForm-block">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" placeholder="Enter first name..">
        </div>

        <div class="signUpForm-block">
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text" placeholder="Enter last name..">
        </div>

        <div class="signUpForm-block">
            <label for="age">Age:</label>
            <input name="age" type="text" placeholder="Enter age..">
        </div>

        <div class="signUpForm-block">
            <label for="occupation">Occupation:</label>
            <input name="occupation" type="text" placeholder="Enter occupation..">    
        </div>

        <div class="signUpForm-block">
            <input id = "formSubmit" type="button" value="Signup">
        </div>
    </form>
</div>